.modal-all-content{
  max-height: 500px;
  transform: translateY(-60px);
  opacity: 0;
  pointer-events: none;
  transition: all .2s ease-in;
}

.modal-all-content.active{
  transform: translateY(0px);
  opacity: 1;
  pointer-events: auto;
  transition: all .2s ease-in;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.body{
  background-image: url(./images/crypto.jpg);
}
.apps-all-content{
  background-image: url(./images/crypto.jpg);
}